################################################################################################
#       Axway API-Management solution connected to Elasticsearch 
#
# This is the main configuration file, which is designed to run this solution with minimal 
# configuration effort in a standard setup. 
# Standard setup means:
# - All services are using HTTPS
# - Using an anonoymus user to communicate with Elasticsearch
# 
# For a production environment it's recommended to configure users in Elasticsearch and 
# configure them in this configuration file. 
#
# It's also supported to run this solution with dedicated or existing services. For instance 
# using an Elasticsearch-Cluster, Kibana (7.x) or Filebeat installed as a software 
# installation (Filebeat should be 7.x). 
# For that, just disable the services in this docker-compose file you don't need.
#
# All parameters are exposed as environment variables or mounted files, which makes it possible 
# to run this solution in a Docker-Orchestrastion framework such as K8S, OpenShift, ...
# 
################################################################################################

COMPOSE_PROJECT_NAME=axway-apim-elastic

################################################################################################
#                            Required parameters
################################################################################################

# ----------------------------------------------------------------------------------------------
# When running Filebeat as a Docker-Container direclty on the API-Gateway machines, these 
# folders are mounted into the Filebeat Container to have access to the files.
# If you prefer to run Filebeat as a software installation, please make sure the you are using 
# the filebeat config file: filebeat/filebeat.yml and the given directories are accessible.
# Used-By: Filebeat
APIGATEWAY_OPENTRAFFIC_FOLDER=/home/localuser/Axway-x.y.z/apigateway/logs/opentraffic
APIGATEWAY_TRACES_FOLDER=/home/localuser/Axway-x.y.z/apigateway/groups/group-2/instance-1/trace
APIGATEWAY_EVENTS_FOLDER=/home/localuser/Axway-x.y.z/apigateway/events
APIGATEWAY_AUDITLOGS_FOLDER=/home/localuser/Axway-x.y.z/apigateway/logs

# ----------------------------------------------------------------------------------------------
# Is used by almost all services to communicate with Elasticsearch. Either to send events, 
# execute queries or send monitoring information.
# When using the default docker-compose.yaml the following default parameter will work as 
# the Elasticsearch service is running with this service name.
# When running the ElasticSearch on a difference host (e.g. existing Elastic-Search cluster)
# this environment variable is used to locate the ElasticSearch cluster.
# You may provide a single host or an array of hosts.
# Example: ELASTICSEARCH_HOSTS=https://elasticsearch1:9200,https://elasticsearch2:9201
# Used-By: Filebeat, API-Builder, Logstash
ELASTICSEARCH_HOSTS=https://elasticsearch1:9200

# ----------------------------------------------------------------------------------------------
# Used by Logstash to communicate with the Lookup-API, which is used to 
# enrich documents before sending it to ElasticSearch.  
# When using the default docker-compose.yml the default setting will work. 
# But, if the API-Builder process is running somewhere else (e.g. in a K8S), you have to 
# configure this environment variable correctly.
# Used-By: Logstash
API_BUILDER_URL=https://apibuilder4elastic:8443

# ----------------------------------------------------------------------------------------------
# Connection to the Admin-Node-Manager. Used by the API-Builder identify the current user.
# IMPORTANT NOTE: This URL must be reachable/resolveable from within the API-Builder 
#                 Docker-Container!
# Used-By: API-Builder
ADMIN_NODE_MANAGER=https://172.17.0.1:8090

# ----------------------------------------------------------------------------------------------
# By default it's assumed, that the API-Manager is running on the same host as the ANM just 
# on port 8075 instead of 8080.
# This user is used by API-Builder to lookup APIs & User-Information in API-Manager. 
# Therefore it must be a user having "admin" role.
# The connection is validated during API-Builder start up.
# These credentials are used for all configured API-Managers.
# Used-By: API-Builder
API_MANAGER_USERNAME=apiadmin
API_MANAGER_PASSWORD=changeme

################################################################################################
#              Paramaters required when anonoymus access is disabled
################################################################################################
# ----------------------------------------------------------------------------------------------
# This password is required by Filebeat to send monitoring information to Elasticsearch
# Used-By: Filebeat
#BEATS_SYSTEM_USERNAME=beats_system
#BEATS_SYSTEM_PASSWORD=

# ----------------------------------------------------------------------------------------------
# Account used by Kibana to communicate with Elasticsearch
# Used-By: Kibana
#KIBANA_SYSTEM_USERNAME=kibana_system
#KIBANA_SYSTEM_PASSWORD=

# ----------------------------------------------------------------------------------------------
# Account used by Logstash to send monitoring events
# Used-By: Logstash
#LOGSTASH_SYSTEM_USERNAME=logstash_system
#LOGSTASH_SYSTEM_PASSWORD=

# ----------------------------------------------------------------------------------------------
# Account used by Logstash pipeline to send events from the API-Management platform
# Used-By: Logstash
#LOGSTASH_USERNAME=elastic
#LOGSTASH_PASSWORD=

# ----------------------------------------------------------------------------------------------
# Account used by the API-Builder process to query Elasticsearch
# Used-By: API-Builder
#API_BUILDER_USERNAME=elastic
#API_BUILDER_PASSWORD=

################################################################################################
#                            Configure Multi-Node ES-Cluster
################################################################################################
# The following parameters are used to build and configure the Elasticsearch cluster. 
# If you don't set this parameters the cluster is configured based on the configured 
# ELASTICSEARCH_HOSTS.
#
# The publish host is used for internal cluster communication between each node. If must be 
# set to a host that is reachable from other nodes. 
# ELASTICSEARCH_PUBLISH_HOST1=elasticsearch1
# ELASTICSEARCH_PUBLISH_HOST2=elasticsearch2
# ELASTICSEARCH_PUBLISH_HOST3=elasticsearch3

# The ES REST-API listen socket and used to map the port outside of the docker container.
# ELASTICSEARCH_HOST1_HTTP=9200
# ELASTICSEARCH_HOST2_HTTP=9201
# ELASTICSEARCH_HOST3_HTTP=9202

# The ES Transport protocol listen socket and used to map the port outside of the docker container.
# ELASTICSEARCH_HOST1_TRANSPORT=9300
# ELASTICSEARCH_HOST2_TRANSPORT=9301
# ELASTICSEARCH_HOST3_TRANSPORT=9302

################################################################################################
#                            Optional / Advanced parameters
################################################################################################
# ----------------------------------------------------------------------------------------------
# The Connection to the API-Manager. If not given, is the same as the Admin-Node-Manager URL  
# with port 8075. 
# If you are running the API-Manager somewhere else, you can configure it here.
# If you are running multiple API-Manager groups within one API-Gateway Management domain, 
# you should declare which group-id belongs to which API-Manager like in the example below. This 
# makes sure, that the API- and User-Lookups are performt against the correct API-Manager.
# IMPORTANT NOTES: These URLs must be reachable/resolveable from within the API-Builder 
#                  Docker-Container!
#                  The same API-Manager credentials are used for all API-Managers.
# Used-By: API-Builder
# API_MANAGER=https://172.17.0.1:8075
# API_MANAGER=group-2#https://api-manager-1:8075, group-5#https://api-manager-2:8275

# ----------------------------------------------------------------------------------------------
# Recommended to configure to see Filebeat statistics in the Elastic Stack monitoring.
# You can get your Cluster UUID with the following request: https://elasticsearch1:9200/
# Used-By: Filebeat (to send monitoring events)
ELASTICSEARCH_CLUSTER_UUID=

# ----------------------------------------------------------------------------------------------
# This is an optional parameter used by Filebeat to set a proper name. This allows for instance 
# to identify the different Filebeat instances in the Kibana-Stack Monitoring dashboards. 
# Defaults to: "API-Gateway"
# Used-By: Filebeat
# GATEWAY_NAME=API-Gateway 3

# ----------------------------------------------------------------------------------------------
# This parameter can be used to support multiple regions or datacenters. The key you give here 
# is stored along with all the documents/transactions created by this Filebeat instance. 
# It helps for instance to filter information on a specific region.
# If not given, all data is stored with the default value: All
# Used-By: Filebeat
# REGION=US
# or 
# GATEWAY_REGION=US-DC1

# ----------------------------------------------------------------------------------------------
# This tells Filebeat where Logstash is running. 
# When using the default docker-compose.yml the following default will work.
# If you are running Logstash somewhere else, e.g. as a service in K8S you need to change this 
# parameter.
# Used-By: Filebeat
LOGSTASH=logstash:5044

# ----------------------------------------------------------------------------------------------
# With this parameter you tell the Logstash processing pipeline which memchached to use. It is 
# used to cache the API-Details that has been looked up from the API-Manager via the API-Builder.
# Even if the API-Builder is already caching the result, this improves the Logstash pipeline 
# processing performance. 
# IMPORTANT NOTE: When memcached is running somewhere else, please avoid high latency between  
#                 Logstash and memached.
# The default parameter works when using the docker-compose.yml
# Used-By: Logstash
MEMCACHED=memcached:11211

# ----------------------------------------------------------------------------------------------
# This parameter controls how long information looked up from API-Manager should stay in the 
# cache. Currently used for API-Details and User-Information.
# You may increase this timeout if you need to reduce the API-Manager REST-API calls performed 
# by the Logstash pipeline.
# Used-By: Logstash
# LOOKUP_CACHE_TTL=600

# ----------------------------------------------------------------------------------------------
# The maximum heap memory for ES. Xmx should be configured to 50% of the available memory, when 
# running ES on a dedicated node. 
# It should not be bigger than 31GB. Defaults to 1GB by ES default which is in most cases not 
# correct.
# Used-By: Elasticsearch
# ES_JAVA_OPTS="-Xms4g -Xmx8g"

# ----------------------------------------------------------------------------------------------
# The number of Filebeat worker threads sending data to Logstash. This should be sufficient in 
# most cases. You may increase it, if you experience a significant delay (>10 sec) between 
# the request and when the transaction is available in Elasticsearch. 
# Defaults to 2 threads.
# Used-By: Filebeat
# FILEBEAT_WORKER=2

# ----------------------------------------------------------------------------------------------
# This is setting up the Elasticsearch clustername, which is used by Elasticsearch to form 
# the cluster. 
# Nodes will only join the cluster if they have the same cluster name.
# Make sure that you don’t reuse the same cluster names in different environments, otherwise 
# you might end up with nodes joining the wrong cluster.
# Good examples are: axway-apim-elasticsearch-prod, axway-apim-elasticsearch-qa, etc.
# Used-By: Elasticsearch
ELASTICSEARCH_CLUSTERNAME=axway-apim-elasticsearch

# ----------------------------------------------------------------------------------------------
# Define the version of the Elastic-Stack to use. Based on this version Docker images are pulled
# Used-By: Elasticsearch, Filebeat, Kibana, Logstash
ELASTIC_VERSION=7.9.2

################################################################################################
#                         Certificates and Certificate authorities
################################################################################################

# The following variables are used by API-Builder to define, which certificate is used
# to expose the HTTPS-Listen socket.
# You may use your own certificate by mounting it into the API-Builder Docker-Container 
# and configure the path the key/cert and provide the password.
# Logstash is using the certificate for validation when performing API- or User-Lookups.
# Used-By: API-Builder, Logstash
API_BUILDER_SSL_KEY=config/certificates/apibuilder4elastic.key
API_BUILDER_SSL_CERT=config/certificates/apibuilder4elastic.crt
API_BUILDER_SSL_KEY_PASSWORD=axway

# The following certificates and keys are mainly used by Elasticsearch to enable transport 
# security on port: 9200.
# Logstash, Filebeat and kibana are using the certificate for validation.
# It's expected that the certificates are placed into the folder caertificates as this folder 
# is mounted into the Docker container.
# Used-By: Elasticsearch, Kibana, Logstash, Filebeat
ELASTICSEARCH_KEY=config/certificates/elasticsearch1.key
ELASTICSEARCH_CRT=config/certificates/elasticsearch1.crt
ELASTICSEARCH_CA=config/certificates/ca.crt

# Certificate and key used by Kibana to expose the HTTPS-Listen socket.
# Used-By: Kibana
KIBANA_KEY=config/certificates/elasticsearch1.key
KIBANA_CRT=config/certificates/elasticsearch1.crt